@use "../Common/variables" as *;
@use "../Common/mixins" as *;
header {
    width: 100%;
    height: 86px;
    .brand {
        color: $blackColor;
        font-size: 30px;
        letter-spacing: 0.8px;
        font-weight: 600;
        font-family: $poppinsFont;
    }
    nav {
        @include centerItems;
        ul {
            @include centerItems;
            & li {
                & a {
                    padding: 10px 0px 10px 28px;
                    color: $blackColor;
                    font-size: 15px;
                    font-weight: lighter;
                    font-weight: 500;
                    font-family: $openSansFont;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}
