@import "/node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
header {
  width: 100%;
  height: 86px;
  position: sticky;
  position: -webkit-sticky;
}
header .brand {
  color: #222;
  font-size: 30px;
  letter-spacing: 0.8px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li a {
  padding: 10px 0px 10px 28px;
  color: #222;
  font-size: 15px;
  font-weight: lighter;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#headerTop {
  background: #106eea;
  display: block;
  padding: 10px 0px;
  min-height: 30px;
  color: #fff;
}
#headerTop .contactInfo i {
  color: #fff;
  margin-right: 10px;
}
#headerTop .contactInfo i a {
  color: #fff;
  margin-left: 5px;
  font-size: 14px;
}
#headerTop .socialInfo a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  color: #fff;
  margin-left: 10px;
}
#headerTop .socialInfo a i {
  font-size: 16px;
}

.btnComponent {
  border-radius: 5px;
  background: #106eea;
  color: #fff;
  display: inline-block;
  padding: 10px 40px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

#slider {
  height: 75vh;
  background: url("../images/Slider.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}
#slider::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  content: "";
  z-index: -1;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.5);
}
#slider h1 {
  font-size: 48px;
  color: #000;
  font-weight: 700;
  display: block;
  font-family: "Poppins", sans-serif;
  line-height: 56px;
}
#slider h2 {
  font-size: 17px;
  font-weight: 500;
  display: block;
  line-height: 30px;
  margin: 10px 0px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  background: #fff;
  color: #444444;
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 60px 0px;
  display: block;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

.item {
  padding: 30px;
  background: #fff;
  width: 100%;
  height: 100%;
  flex: 1;
  min-height: 200px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
}
.item::before {
  background: #106eea;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  top: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  content: "";
}
.item:hover {
  cursor: pointer;
}
.item:hover::before {
  top: 0px;
}

/*# sourceMappingURL=index.css.map */
