@use "./variables" as *;
html,
body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    background: $bodyBgColor;
    color: $fontColor;
    font-family: $openSansFont;
}
section {
    padding: 60px 0px;
    display: block;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    background: rgba($color: #000000, $alpha: 0.6);
    color: red;
    font-size: 40px;
}
#loading.disabled {
    display: none;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #106eea;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}
