$primaryColor: #106eea;
$fontColor: #444444;
$bgLightBlueColor: #f6f9fe;
$titleLightBlueColor: #e7f1fd;
$bodyBgColor: #fff;
$openSansFont: "Open Sans", sans-serif;
$poppinsFont: "Poppins", sans-serif;
$whiteColor: #fff;
$blackColor: #000;
